[Unit]
Description=Brightness Control

[Service]
User=oli
Group=oli
Type=simple
ExecStart=/bin/bash -c  /usr/bin/brightness-control

[Install]
WantedBy=default.target
